<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vaishnavi Jewellers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  </script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4 text-center">
        <div class="loginpanel">
          <div class="caption">
            <h4>Admin Panel</h4>


          </div>
          <div class="loginForm">
            <div class="input-group">
              <input type="text" id="emailid" class="form-control" placeholder="Email">
              <input type="password" id="pass" class="form-control" placeholder="Password">
              <p id="error" ></p>
              <input type="button" id="submit" class="form-control" value="Submit">
            </div>
          </div>
        </div>
      </div>

    </div>
   
  </div>
 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="./javascripts/checklogin.js"></script>
<script src="./javascripts/clientconfig.js"></script>
</html>